@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Дефолтные значения на случай, если тема Telegram не загрузится */
  --tg-theme-bg-color: #ffffff;
  --tg-theme-text-color: #000000;
  --tg-theme-button-color: #2481cc;
  --tg-theme-button-text-color: #ffffff;
  --tg-theme-secondary-bg-color: #f1f1f1;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

/* Отключаем скролл бар */
::-webkit-scrollbar {
  display: none;
}